{% extends 'pages/index.html'%}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h5>Signup Page</h5>
        </div>
        <div class="card-body">
          {% if messages %}
            {% for msg in messages %}
            {% if msg.tags == 'error'%}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">

            {% else %}
            <div class="alert alert-{{msg.tags}} alert-dismissible fade show" role="alert">
            {% endif %}
              {{msg}} {{msg.tags}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endfor %}
          {% endif %}
          <form class="" action="{% url 'signup'%}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <input type="text" name="username" placeholder="Username" class="form-control" required>
            </div>
            <div class="form-group">
              <input type="email" name="email" placeholder="Email" class="form-control" required>
            </div>
            <div class="form-group">
              <input type="password" name="password" placeholder="Password" class="form-control" required>
            </div>
            <div class="form-group">
              <input type="password" name="confirm" placeholder="Confirm password" class="form-control" required>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block" name="button">Signup</button>
            </div>
          </form>
        </div>
      </div>

    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>
{% endblock %}
